web/WEB-INF/wsdl/localhost_8080/WSDAssignment/ModifyBookingApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.ass/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.ass/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addBooking" type="tns:addBooking"/>

<xs:element name="addBookingResponse" type="tns:addBookingResponse"/>

<xs:element name="addListing" type="tns:addListing"/>

<xs:element name="addListingResponse" type="tns:addListingResponse"/>

<xs:element name="booking" type="tns:booking"/>

<xs:element name="closeListing" type="tns:closeListing"/>

<xs:element name="closeListingResponse" type="tns:closeListingResponse"/>

<xs:element name="flight" type="tns:flight"/>

<xs:element name="flights" type="tns:flights"/>

<xs:element name="getBookingsXML" type="tns:getBookingsXML"/>

<xs:element name="getBookingsXMLResponse" type="tns:getBookingsXMLResponse"/>

<xs:element name="getFlightsApp" type="tns:getFlightsApp"/>

<xs:element name="getFlightsAppResponse" type="tns:getFlightsAppResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="addBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeListing">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeListingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addListing">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addListingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFlightsApp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFlightsAppResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightsApp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightsApp">
<xs:sequence>
<xs:element name="flights" type="tns:flights" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flights">
<xs:sequence>
<xs:element name="flight" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="flightID" type="xs:int"/>
<xs:element name="departureDate" type="xs:string" minOccurs="0"/>
<xs:element name="returnDate" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:string" minOccurs="0"/>
<xs:element name="numofSeats" type="xs:int"/>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="flightType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="privilege" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookingsXML">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBookingsXMLResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="flightID" type="xs:int"/>
<xs:element name="bookingID" type="xs:int"/>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="flightType" type="xs:string" minOccurs="0"/>
<xs:element name="departureDate" type="xs:string" minOccurs="0"/>
<xs:element name="returnDate" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>