src/java/META-INF/GetUser.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="GetUser">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/WSDAssignment/GetUser?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getUsersApp">
<part name="parameters" element="tns:getUsersApp"/>
</message>
<message name="getUsersAppResponse">
<part name="parameters" element="tns:getUsersAppResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="GetUser">
<operation name="add">
<input wsam:Action="http://soap.wsd.uts/GetUser/addRequest" message="tns:add"/>
<output wsam:Action="http://soap.wsd.uts/GetUser/addResponse" message="tns:addResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://soap.wsd.uts/GetUser/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://soap.wsd.uts/GetUser/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getUsersApp">
<input wsam:Action="http://soap.wsd.uts/GetUser/getUsersAppRequest" message="tns:getUsersApp"/>
<output wsam:Action="http://soap.wsd.uts/GetUser/getUsersAppResponse" message="tns:getUsersAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/GetUser/getUsersApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/GetUser/getUsersApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/GetUser/getUsersApp/Fault/Exception"/>
</operation>
</portType>
<binding name="GetUserPortBinding" type="tns:GetUser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsersApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="GetUser">
<port name="GetUserPort" binding="tns:GetUserPortBinding">
<soap:address location="http://localhost:8080/WSDAssignment/GetUser"/>
</port>
</service>
</definitions>